@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-username img{
  width: 32px;
}

#profile-bio{
  margin-top:10px;
}

.timeline .timeline-item {
  padding-bottom:1em;
}

.timeline__action--js {
  margin-left: 4px;
  margin-right: 4px;
}

.input--error {
  border: solid 1px red;
}

@media screen and (max-width: 1088px) {
  // Added this padding, because it was looking awful. Really.
  body .container {
    padding: 20px;
  }
}
